{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <a href="{{ site.url }}/">
    <img src="{{ site.url }}/assets/img/{{ author.avatar }}" alt="{{ author.name }}" class="avatar">
  </a>
  {% endif %}
  <!--a href="{{ site.url }}/" class="author_name">{{ author.name }}</a-->
  <span class="author_job">{{ author.job }}</span>
  {% if page.summary %}<span class="author_bio mbm">{{ page.summary }}</span>{% endif %}
  {% include navbar.html %}
  {% include social-links.html %}
</div>
