// Much of the styling is done by post styling, but we extend things here
.checklist {
  $colour: rgb(0, 0, 128);
  $backgroundFade: .05;

  --border-colour: rgb(0, 0, 128);
  margin-bottom: 80px;

  section {
    margin: 0;
  }

  .section {
    border-left: 4px solid rgba($colour, $backgroundFade * 3);
    padding: 0 0 1em 1em;
    margin: 0;
    &:hover {
      border-left-color: rgba($colour, 1);
    }
  }
  .item {
    padding: .5em;
    margin: .5em 0 .5em 0;
    background-color: rgba($colour, $backgroundFade);
    div {
      margin-left: .5em;
    }
    span + p {
      margin-left: .5em;
    }
    &:hover {
      background-color: rgba($colour, $backgroundFade * 2);
    }
    &.optional {
      font-style: italic;
      em {
        font-style: normal;
      }
    }
  }

  .who {
    text-transform: capitalize;
    font-weight: bold;
  }
}