.contributors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10em;
}

.contributor {
  border: 1px solid black;
  width: min-content;
  box-shadow: 1px 2px 1px 0 gainsboro;
  padding: .25em;
  margin: .5em;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  .name {
    width: max-content;
    padding: 0 .25em;
    margin: auto;
  }
  .institution {
    margin: 0 auto 1em auto;
    text-align: center;
    font-size: 1em;
  }
  .contributions, .links {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    width: 100%;
    font-size: 1.5em;
    * {
      padding: 2px;
    }
  }
  .contributions i,
  .contributions svg {
    color: gainsboro;
  }
  .caption {
    display: none;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: white;
    color: navy;
    border: .2em solid navy;
    text-align: center;
    font-size: .6em;
    padding: .5em;
    border-radius: .5em;
    z-index: 1;
    p {margin: 0}
  }
  .contributions i:hover, .contributions svg:hover,
  .contributions i:focus, .contributions svg:focus {
    color: navy;
  }
  .icon {
    position: relative;
  }
  .icon:hover::after,
  .icon:focus::after {
    content: " ";
    position: absolute;
    top: calc(100% - .5em);
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: .25em;
    border-width: .25em;
    border-style: solid;
    border-color: transparent transparent navy transparent;
  }
  .icon:hover + .caption,
  .icon:focus + .caption{
    display: block;
    opacity: 1;
    transition: opacity .25s;
  }

  &:hover,
  &:focus {
    box-shadow: 4px 4px 2px 0 gainsboro;
  }
}